/* formatação dark mode */

:root {
	--body-bg: #fafafa;
	--body-color: #555;
	--link-color: #222;
	--link-color-hover: #ec5840;
	--time-bg: #cecece;
	--time-hour: #555;

}

.dark-mode:root {
	--body-bg: #212529;
	--body-color: #899095;
	--link-color: #dee2e6;
	--link-color-hover: #3cc368;
	--time-bg: #cecece;
	--time-hour: #555;!important
}

body {
	font-family: 'Antonio', sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
	transition: .5s;

	background-color: var(--body-bg);
	color: var(--body-color);
}

a {
	color: var(--link-color);
}

 a:hover {
 	color: var(--link-color-hover);
 }

/* estilo do horario */

.time-css {
	padding: 10px;
	color: var(--time-hour);
	border: 1px solid rgba(2,2,2,.2);
	border-radius: 22px;
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%,-50%);
}

span.time-css {
	color: var(--time-hour);
	background: var(--time-bg);
}


 /* formatação de botão e textos */

#center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#text {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#subtext {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}



input[type="checkbox"] {
	position: relative;
	width: 150px;
	height: 60px;
	-webkit-appearance: none;
	background: #c6c6c6;
	outline: none;
	border-radius: 30px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
	/*transition: .5s;*/
}

input:checked[type="checkbox"] {
	background: #03a9f4;
}

input[type="checkbox"]:before {
	content: '';
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	top: 0;
	left: 0;
	background: #fff;
	transform: scale(1.1);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
}

input:checked[type="checkbox"]:before {
	left: 90px;
}